body{
  background-color:;
}
h1{
  text-align: center;
color: gold;
text-transform: uppercase;
}
.navbar{
  background-color: yellow;
  padding: 0px;

}
div.main
{
  background-color: lightgray;
}

h4{
	text-align: center;
	color: red;
}
#two,#four,#five,#six,#three,#one
  { color: darkblue;
border: 2PX solid black; 
padding: 5px;
box-sizing: border-box;
margin :20px;
width: 28%;
height:770px;
background-color: pink; 
float: left;
font-size: 17px;

}

h3{color: black;
border: 2PX solid black; 
padding: 5px;
box-sizing: border-box;
text-align: center;
background-color: magenta;
}
h1{color: black;
border: 2PX solid black; 
padding: 5px;
box-sizing: border-box;
text-align: center;
background-color: grey;
}
.navbar-brand{
  text-transform: uppercase;
  margin: 10px;
  
}
.nav-item{
  text-align: center;
}
.navbar-collapse .collapse .show{ 
  background-color: white;

}
.navbar-nav .mr-auto{
  background-color: white;
}
@media(max-width: 767px){
#navbarSupportedContent{
  background-color: white;
}}
button{
  margin-top: 9px;
}
span{
  	color: yellow;
  }
h1{
  background-color: grey;
}  
#two,#four,#five,#six,#three,#one
  { color: darkblue;
border: 2PX solid black; 
padding: 5px;
box-sizing: border-box;
margin :10px;
width: 99%;
height:100%;
background-color: pink; 
float: left;
font-size: 17px;
}
@media(min-width: 768px){
  .navbar-toggler .navbar-toggler-right{
    display: none;}
    #navbarSupportedContent {
      display: ;
    }
    .navbar-collapse{
      display: none;
    }
button{
  display: none;}
  span{
  	color: yellow;
  }
  .main{
    display: flex;
  }

}
@media(min-width: 992px){
  .navbar-toggler .navbar-toggler-right{
    display: none;}
    #navbarSupportedContent {
      display: none ;
    }
   .nav-item{
      display: none;
      }
   .main{
   	 display: flex;
   }
   span{
  	color: yellow;
  }
  }
  